*.fisher.npz
*.png
*.ppm
*.mdb
*.caffemodel
*.solverstate
caffe_models/sample_5/train_lmdb/data.mdb
caffe_models/sample_5/test_lmdb/data.mdb
data/frames_detection/lists/train_list.txt
data/frames_detection/lists/fullpath_train_list.txt
data/frames_detection/lists/fullpath_test_list.txt
./caffe_models/sample_5/snapshots/run1_iter_1000.caffemodel
./caffe_models/sample_5/snapshots/run1_iter_1000.solverstate
./caffe_models/sample_5/snapshots/run1_iter_2000.caffemodel
./caffe_models/sample_5/snapshots/run1_iter_2000.solverstate
./caffe_models/sample_5/snapshots/run1_iter_3000.caffemodel
./caffe_models/sample_5/snapshots/run1_iter_3000.solverstate
./caffe_models/sample_5/snapshots/run1_iter_4000.caffemodel
./caffe_models/sample_5/snapshots/run1_iter_4000.solverstate
./caffe_models/sample_5/snapshots/run1_iter_5000.caffemodel
./caffe_models/sample_5/snapshots/run1_iter_5000.solverstate
./caffe_models/sample_5/snapshots/run1_iter_6000.caffemodel
./caffe_models/sample_5/snapshots/run1_iter_6000.solverstate
./caffe_models/sample_5/snapshots/run1_iter_7000.caffemodel
./caffe_models/sample_5/snapshots/run1_iter_7000.solverstate
./caffe_models/sample_5/snapshots/run1_iter_8000.caffemodel
./caffe_models/sample_5/snapshots/run1_iter_8000.solverstate
./caffe_models/sample_5/snapshots/run1_iter_9000.caffemodel
./caffe_models/sample_5/snapshots/run1_iter_9000.solverstate
./caffe_models/sample_5/snapshots/run1_iter_10000.caffemodel
./caffe_models/sample_5/snapshots/run1_iter_10000.solverstate
./caffe_models/sample_5/snapshots/run1_iter_11000.caffemodel
./caffe_models/sample_5/snapshots/run1_iter_11000.solverstate
./caffe_models/sample_5/snapshots/run1_iter_12000.caffemodel
./caffe_models/sample_5/snapshots/run1_iter_12000.solverstate
./caffe_models/sample_5/snapshots/run1_iter_13000.caffemodel
./caffe_models/sample_5/snapshots/run1_iter_13000.solverstate
./caffe_models/sample_5/snapshots/run1_iter_14000.caffemodel
./caffe_models/sample_5/snapshots/run1_iter_14000.solverstate
./caffe_models/sample_5/snapshots/run1_iter_15000.caffemodel
./caffe_models/sample_5/snapshots/run1_iter_15000.solverstate
./caffe_models/sample_5/snapshots/run1_iter_16000.caffemodel
./caffe_models/sample_5/snapshots/run1_iter_16000.solverstate
./caffe_models/sample_5/snapshots/run1_iter_17000.caffemodel
./caffe_models/sample_5/snapshots/run1_iter_17000.solverstate
./caffe_models/sample_5/snapshots/run1_iter_18000.caffemodel
./caffe_models/sample_5/snapshots/run1_iter_18000.solverstate
./caffe_models/sample_5/snapshots/run1_iter_19000.caffemodel
./caffe_models/sample_5/snapshots/run1_iter_19000.solverstate
./caffe_models/sample_5/snapshots/run1_iter_20000.caffemodel
./caffe_models/sample_5/snapshots/run1_iter_20000.solverstate
./caffe_models/sample_5/train_lmdb/data.mdb
./caffe_models/sample_5/test_lmdb/data.mdb
./caffe_models/sample_100/snapshots/run1_iter_10000.caffemodel
./caffe_models/sample_100/snapshots/run1_iter_10000.solverstate
./caffe_models/sample_100/snapshots/run1_iter_20000.caffemodel
./caffe_models/sample_100/snapshots/run1_iter_20000.solverstate
./caffe_models/recognition_20_sample_5/snapshots/run1_iter_5000.caffemodel
./caffe_models/recognition_20_sample_5/snapshots/run1_iter_5000.solverstate
./caffe_models/recognition_20_sample_5/snapshots/run1_iter_10000.caffemodel
./caffe_models/recognition_20_sample_5/snapshots/run1_iter_10000.solverstate
./caffe_models/recognition_20_sample_5/snapshots/run1_iter_15000.caffemodel
./caffe_models/recognition_20_sample_5/snapshots/run1_iter_15000.solverstate
./caffe_models/recognition_20_sample_5/snapshots/run1_iter_20000.caffemodel
./caffe_models/recognition_20_sample_5/snapshots/run1_iter_20000.solverstate
./caffe_models/recognition_20_sample_100/snapshots/run1_iter_5000.caffemodel
./caffe_models/recognition_20_sample_100/snapshots/run1_iter_5000.solverstate
./caffe_models/recognition_20_sample_100/snapshots/run1_iter_10000.caffemodel
./caffe_models/recognition_20_sample_100/snapshots/run1_iter_10000.solverstate
./caffe_models/recognition_20_sample_100/snapshots/run1_iter_15000.caffemodel
./caffe_models/recognition_20_sample_100/snapshots/run1_iter_15000.solverstate
./caffe_models/recognition_20_sample_100/snapshots/run1_iter_20000.caffemodel
./caffe_models/recognition_20_sample_100/snapshots/run1_iter_20000.solverstate
./caffe_models/ucf_recognition_20_pretrained/extracted/pretrain/data.mdb
./data/frames_detection/lists/fullpath_train_list.txt
./data/frames_detection/lists/fullpath_test_list.txt
./data/frames_recognition_20/lists/fullpath_train_list.txt
./data/frames_recognition_20/lists/fullpath_test_list.txt
./examples/ucf_recognition_20/bov_train.npz
./examples/ucf_recognition_20/bov_test.npz
./examples/ucf_recognition_20/cnn_features.npz
